<? if (this.props.selectedProfile) { ?>
  <div>
    <?= JSON.stringify(this.props.selectedProfile) ?>
  </div>
<? } ?>

<? if (this.props.currentSession) { ?>
  <div>
    <?= JSON.stringify(this.props.currentSession) ?>
  </div>
<? } ?>
