<? if(this.props.profile) { ?>
  <div class="profile-menu">
    <a class="a-left back"></a>
    <span><?= this.props.title ?></span>
  </div>
<? } else { ?>
  <ul>
    <li>
      <a href="#/">Home</a>
      <a href="#/profile/Me">Profile</a>
    </li>
  </ul>
<? } ?>
