.profile-menu {
    background: #3a3a3a;
    padding: 20px;
    display: flex;
}

.profile-menu a.a-left:after {
  content: "\25C0";
}

.profile-menu * {
  color: white;
  font-weight: bold;
}

.profile-menu span {
    margin: auto;
}
